.ol-control.ol-layerswitcher-chameleon {
  position: absolute;
  right: 0.5em;
  text-align: left;
  top: 3em;
  max-height: calc(100% - 6em);
  box-sizing: border-box;
  overflow: hidden;
}
.ol-control.ol-layerswitcher-chameleon .ol-switchertopdiv,
.ol-control.ol-layerswitcher-chameleon .ol-switcherbottomdiv {
  display: block
}
.ol-control.ol-layerswitcher-chameleon.ol-collapsed .ol-switchertopdiv,
.ol-control.ol-layerswitcher-chameleon.ol-collapsed .ol-switcherbottomdiv {
  display: none;
}
.ol-layerswitcher-chameleon.ol-forceopen.ol-collapsed .ol-switchertopdiv,
.ol-layerswitcher-chameleon.ol-forceopen.ol-collapsed .ol-switcherbottomdiv {
  display: block;
}

.ol-control.ol-layerswitcher-chameleon .ol-switchertopdiv,
.ol-control.ol-layerswitcher-chameleon .ol-switcherbottomdiv {
  position: absolute;
  top:0;
  left:0;
  right:0;
  height: 45px;
  background: #fff; 
  z-index:2;
  opacity:1;
  cursor: pointer;
  border-top:2px solid transparent;
  border-bottom:2px solid #fdc900;
  margin:0 2px;
  box-sizing: border-box;
}
.ol-control.ol-layerswitcher-chameleon .ol-switcherbottomdiv {
  top: auto;
  bottom: 0;
  height: 2em;
  border-top:2px solid #fdc900;
  border-bottom:2px solid transparent;
}
.ol-control.ol-layerswitcher-chameleon .ol-switchertopdiv:before,
.ol-control.ol-layerswitcher-chameleon .ol-switcherbottomdiv:before {
  content:"";
  position: absolute;
  left:50%;
  top:50%;
  border:10px solid transparent;
  width:0;
  height:0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity:0.8;
}

.ol-control.ol-layerswitcher-chameleon .ol-switchertopdiv:hover:before,
.ol-control.ol-layerswitcher-chameleon .ol-switcherbottomdiv:hover:before {
  opacity:1;
}
.ol-control.ol-layerswitcher-chameleon .ol-switchertopdiv:before {
  border-bottom-color: #fdc900;
  border-top: 0;
}
.ol-control.ol-layerswitcher-chameleon .ol-switcherbottomdiv:before {
  border-top-color: #fdc900;
  border-bottom: 0;
}

.ol-control.ol-layerswitcher-chameleon .panel-container {
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  clear: both;
  display: block; /* display:block to show panel on over */
  padding: 0.5em 0.5em 0;
}

.ol-layerswitcher-chameleon .panel {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Tahoma,Geneva,sans-serif;
  font-size:0.9em;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  position: relative;
  top:0;
}

.ol-layerswitcher-chameleon .panel ul {
  list-style: none;
  padding: 0 0 0 20px;
  overflow: hidden;
  clear: both;
}

/** Customize checkbox
*/
.ol-layerswitcher-chameleon input[type="radio"],
.ol-layerswitcher-chameleon input[type="checkbox"] {
  /*display:none;*/
}

.ol-layerswitcher-chameleon .panel li {
  -weblit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  clear: both;
  display: block;
  border:1px solid transparent;
  box-sizing: border-box;
}
.ol-layerswitcher-chameleon .panel li.ol-layer-select {
  background-color: rgba(88,59,105,.2);
  margin: 0 -.5em;
  padding: 0 .5em
}
/* drag and drop */
.ol-layerswitcher-chameleon .panel li.drag {
  opacity: 0.5;
  transform:scale(0.8);
  -webkit-transform:scale(0.8);
}
.ol-dragover {
  background:rgba(51,102,153,0.5);
  opacity:0.8;
}
.ol-layerswitcher-chameleon .panel li.forbidden,
.forbidden .ol-layerswitcher-chameleon-buttons div,
.forbidden .layerswitcher-opacity div {
  background:rgba(255,0,0,0.5);
  color:#f00!important;
}

/* cursor management */
.ol-layerswitcher-chameleon.drag,
.ol-layerswitcher-chameleon.drag * {
  cursor:not-allowed!important;
  cursor:no-drop!important;
}
.ol-layerswitcher-chameleon.drag .panel li.dropover,
.ol-layerswitcher-chameleon.drag .panel li.dropover * {
  cursor: pointer!important;
  cursor: n-resize!important;
  cursor: ns-resize!important;
  cursor: grab!important;
  cursor: grabbing!important;
}

.ol-layerswitcher-chameleon .panel li.dropover {
  background: rgba(51, 102, 153, 0.5);
}

.ol-layerswitcher-chameleon .panel li label {
  display: inline-block;
  height: 1.4em;
  max-width: 14.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0 0 0.4em;
  position: relative;
}

.ol-layerswitcher-chameleon .panel li label span {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: .2em;
}
/*
.ol-layerswitcher-chameleon [type="radio"] + label:before,
.ol-layerswitcher-chameleon [type="checkbox"] + label:before,
.ol-layerswitcher-chameleon [type="radio"]:checked + label:after,
.ol-layerswitcher-chameleon [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 0.1em; top: 0.1em;
  width: 1.2em; height: 1.2em; 
  border: 2px solid #fdc900;
  background: #fff;
  box-sizing:border-box;
}

.ol-layerswitcher-chameleon [type="radio"] + label:before,
.ol-layerswitcher-chameleon [type="radio"] + label:after {
  border-radius: 50%;
}

.ol-layerswitcher-chameleon [type="radio"]:checked + label:after {
  background: #fdc900 none repeat scroll 0 0;
  margin: 0.3em;
  width: 0.6em;
  height: 0.6em;
}

.ol-layerswitcher-chameleon [type="checkbox"]:checked + label:after {
  background: transparent;
  border-width: 0 3px 3px 0;
  border-style: solid;
  border-color: #fdc900;
    width: 0.7em;
    height: 1em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0.55em;
    top: -0.05em;
    box-shadow: 1px 0px 1px 1px #fff;
}

 */

.ol-layerswitcher-chameleon .panel li.ol-layer-hidden {
  opacity: 0.6;
}

.ol-layerswitcher-chameleon.ol-collapsed .panel-container {
  display:none;
}
.ol-layerswitcher-chameleon.ol-forceopen .panel-container {
  display:block;
}

.ol-layerswitcher-chameleon-image > button,
.ol-layerswitcher-chameleon > button {
  background-color: white;
  float: right;
  z-index: 10;
  position: relative;
  font-size: 1.7em;
}
.ol-touch .ol-layerswitcher-chameleon-image > button,
.ol-touch .ol-layerswitcher-chameleon > button {
  font-size: 2.5em;
}
.ol-layerswitcher-chameleon-image > button:before,
.ol-layerswitcher-chameleon-image > button:after,
.ol-layerswitcher-chameleon > button:before,
.ol-layerswitcher-chameleon > button:after {
  content: "";
  position:absolute;
  width: .75em;
  height: .75em;
  -webkit-border-radius: 0.15em;
  border-radius: 0.15em;
  -webkit-transform: scaleY(.8) rotate(45deg);
  -ms-transform: scaleY(.8) rotate(45deg);
  transform: scaleY(.8) rotate(45deg);
}
.ol-layerswitcher-chameleon-image > button:before,
.ol-layerswitcher-chameleon > button:before {
  background: #e2e4e1;
  top: .32em;
  left: .34em;
  -webkit-box-shadow: 0.1em 0.1em #325158;
  box-shadow: 0.1em 0.1em #325158;
}
.ol-layerswitcher-chameleon-image > button:after,
.ol-layerswitcher-chameleon > button:after {
  top: .22em;
  left: .34em;
  background: #83bcc5;
  background-image: -webkit-radial-gradient( .85em .6em, circle, #70b3be 0, #70b3be .65em, #83bcc5 .65em);
  background-image: -o-radial-gradient( .85em .6em, circle, #70b3be 0, #70b3be .65em, #83bcc5 .65em);
  background-image: radial-gradient( circle at .85em .6em, #70b3be 0, #70b3be .65em, #83bcc5 .65em);
}
.ol-layerswitcher-chameleon-buttons {
  display:block;
  float: right;
  text-align:right;
}
.ol-layerswitcher-chameleon-buttons > div {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height:1em;
  width:1em;
  margin:2px;
  line-height: 1em;
    text-align: center;
    background: #fdc900;
    vertical-align: middle;
    color: #fff;
}

.ol-layerswitcher-chameleon .panel li > div {
  display: inline-block;
  position: relative;
}

/* line break */
.ol-layerswitcher-chameleon .ol-separator {
  display:block !important;
  width:0 !important;
  height:0 !important;
  padding:0 !important;
  margin:0 !important;
}

.ol-layerswitcher-chameleon .layerup {
  float: right !important;
  height:2.5em !important;
  background-color: #fdc900 !important;
  opacity: 0.5 !important;
  cursor: move !important;
  cursor: ns-resize !important;
}

.ol-layerswitcher-chameleon .layerup:before,
.ol-layerswitcher-chameleon .layerup:after {
  border-color: #fff transparent !important;
  border-style: solid !important;
  border-width: 0.4em 0.4em 0 !important;
  content: "" !important;
  height: 0 !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 0.1em !important;
  width: 0 !important;
}
.ol-layerswitcher-chameleon .layerup:after {
  border-width: 0 0.4em 0.4em !important;
  top:3px !important;
  bottom: auto !important;
}

.ol-layerswitcher-chameleon .layerInfo {
  background: #fdc900 !important;
  border-radius: 100% !important;
}
.ol-layerswitcher-chameleon .layerInfo:before {
  color: #fff !important;
  content: "i" !important;
  display: block !important;
  font-size: 0.8em !important;
  font-weight: bold !important;
  text-align: center !important;
  width: 1.25em !important;
  position:absolute !important;
  left: 0 !important;
  top: 0 !important;
}

.ol-layerswitcher-chameleon .layerTrash {
  background: #fdc900 !important;
}
.ol-layerswitcher-chameleon .layerTrash:before {
  color: #fff !important;
  content: "\00d7" !important;
  font-size:1em !important;
  top: 50% !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
  line-height: 1em !important;
  margin: -0.5em 0 !important;
  position: absolute !important;
}

.ol-layerswitcher-chameleon .layerExtent {
  background: #fdc900 !important;
}
.ol-layerswitcher-chameleon .layerExtent:before {
  border-right: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  content: "" !important;
  display: block !important;
  position: absolute !important;
  left: 6px !important;
  right: 2px !important;
  top: 6px !important;
  bottom: 3px !important;
}
.ol-layerswitcher-chameleon .layerExtent:after {
  border-left: 1px solid #fff !important;
  border-top: 1px solid #fff !important;
  content: "" !important;
  display: block !important;
  position: absolute !important;
  bottom: 6px !important;
  left: 2px !important;
  right: 6px !important;
  top: 3px !important;
}

.ol-layerswitcher-chameleon .expend-layers,
.ol-layerswitcher-chameleon .collapse-layers {
  margin: 3px 5px 0 2px !important;
  background-color: transparent !important;
  float: left !important;
}
.ol-layerswitcher-chameleon .expend-layers:before,
.ol-layerswitcher-chameleon .collapse-layers:before {
  content:"" !important;
  position:absolute !important;
  top:50% !important;
  left:0 !important;
  margin-top:-2px !important;
  height:4px !important;
  width:100% !important;
  background:#DBDFE9 !important;
}
.ol-layerswitcher-chameleon .expend-layers:after {
  content:"" !important;
  position:absolute !important;
  left:50% !important;
  top:0 !important;
  margin-left:-2px !important;
  width:4px !important;
  height:100% !important;
  background:#DBDFE9 !important;
}
/*
.ol-layerswitcher-chameleon .collapse-layers:before {
  content:"" !important;
  position:absolute !important;
  border:0.5em solid #fdc900 !important;
  border-color: #fdc900 transparent transparent !important;
  margin-top:0.25em !important;
}
.ol-layerswitcher-chameleon .expend-layers:before {
  content:"" !important;
  position:absolute !important;
  border:0.5em solid #fdc900 !important;
  border-color: transparent transparent transparent #fdc900  !important;
  margin-left:0.25em !important;
}
*/

.ol-layerswitcher-chameleon .layerswitcher-opacity {
  position:relative !important;
  border: 1px solid #fdc900 !important;
  height: 3px !important;
  width: 120px !important;
  margin:5px 1em 10px 7px !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  background: #69c !important;
  background: -webkit-linear-gradient(left, rgba(253,201,0,0), rgba(253,201,0,0.6)) !important;
  background: linear-gradient(to right, rgba(253,201,0,0), rgba(253,201,0,0.6)) !important;
  cursor: pointer !important;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5) !important;
}

.ol-layerswitcher-chameleon .layerswitcher-opacity .layerswitcher-opacity-cursor,
.ol-layerswitcher-chameleon .layerswitcher-opacity .layerswitcher-opacity-cursor:before {
  position: absolute !important;
  width: 20px !important;
  height: 20px !important;
  top: 50% !important;
  left: 50% !important;
  background: rgba(253,201,0,0.5) !important;
  border-radius: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  z-index: 1 !important;
}
.ol-layerswitcher-chameleon .layerswitcher-opacity .layerswitcher-opacity-cursor:before {
  content: "" !important;
  position: absolute !important;
  width: 50% !important;
  height: 50% !important;
}
.ol-touch .ol-layerswitcher-chameleon .layerswitcher-opacity .layerswitcher-opacity-cursor {
  width: 26px !important;
  height: 26px !important;
}

.ol-layerswitcher-chameleon .layerswitcher-opacity-label { 
  display:none !important;
  position: absolute !important;
  right: -2.5em !important;
  bottom: 5px !important;
  font-size: 0.8em !important;
}
.ol-layerswitcher-chameleon .layerswitcher-opacity-label::after {
  content:"%" !important;
}

.ol-layerswitcher-chameleon .layerswitcher-progress {
  display:block !important;
  margin:-4px 1em 2px 7px !important;
  width: 120px !important;
}
.ol-layerswitcher-chameleon .layerswitcher-progress div {
  background-color: #fdc900 !important;
  height:2px !important;
  display:block !important;
  width:0 !important;
}
/*
.ol-layerswitcher-chameleon .panel li.ol-layer-group > .ol-layerswitcher-chameleon-buttons {
  position: absolute;
  width: calc(100% - 5px);
  margin-top: 0.22em;
}
.ol-layerswitcher-chameleon .panel li.ol-layer-image > .ol-layerswitcher-chameleon-buttons {
  position: absolute;
  width: calc(100% - 26px);
}
.ol-layerswitcher-chameleon .panel li.ol-layer-tile > .ol-layerswitcher-chameleon-buttons {
  position: absolute;
  width: calc(100% - 26px);
}
.ol-layerswitcher-chameleon .panel li.ol-layer-vector > .ol-layerswitcher-chameleon-buttons {
  position: absolute;
  width: calc(100% - 26px);
}
.ol-layer-group > .li-content {
  left: 1.5em;
}
.ol-layer-image > .li-content {
  left: 0.5em;
}
.ol-layer-tile > .li-content {
  left: 0.5em;
}
.ol-layer-vector > .li-content {
  left: 0.5em;
}

.ol-layerswitcher-chameleon .expend-layers, .ol-layerswitcher-chameleon .collapse-layers {
  float: left;
}

 */


/*
.ol-layerswitcher-chameleon .panel li.ol-layer-tile > .ol-layerswitcher-chameleon-buttons {
  position: absolute;
  width: calc(100% - 10px);
}
*/

input.ol-visibility.form-check-input.h-15px.w-15px {
  margin-top: 0.22em !important;
}