.ol-control.ol-layerswitcher-tidop.ol-layer-shop-tidop {
  height: calc(100% - 4em);
  max-height: unset;
  max-width: 16em;
  background-color: transparent;
  pointer-events: none!important;
  overflow: visible;
}
.ol-control.ol-layerswitcher-tidop > * {
  pointer-events: auto;
}

.ol-control.ol-layer-shop-tidop > button,
.ol-control.ol-layer-shop-tidop .panel-container {
  box-shadow: 0 0 0 3px rgba(255,255,255,.5);
}
.ol-control.ol-layerswitcher-tidop.ol-layer-shop-tidop .panel-container {
  overflow-y: scroll;
  max-height: calc(100% - 6.5em);
  border: 2px solid #369;
  border-width: 2px 0;
  padding: 0;
}
.ol-control.ol-layer-shop-tidop .panel {
  padding: 0;
  box-sizing: border-box;
  margin: .25em .5em;
}
.ol-control.ol-layerswitcher-tidop.ol-layer-shop-tidop .panel-container.ol-scrolldiv {
  overflow: hidden;
}
.ol-control.ol-layer-shop-tidop .ol-scroll {
  background-color: rgba(0,0,0,.3);
  opacity: .5;
}
.ol-layerswitcher-tidop.ol-layer-shop-tidop ul.panel li.ol-header {
  display: none;
}
.ol-layerswitcher-tidop.ol-layer-shop-tidop ul.panel li {
  margin-right: 0;
  padding-right: 0;
}
.ol-layerswitcher-tidop.ol-layer-shop-tidop .layerup {
  height: 1.5em;
  width: 1.4em;
  margin: 0;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  color: rgba(0,60,136,1);
}
.ol-layerswitcher-tidop.ol-layer-shop-tidop .layerup:hover {
  background-color: rgba(0,60,136,.3);
}
.ol-layerswitcher-tidop.ol-layer-shop-tidop .layerup:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  background-color: currentColor;
  width: 1em;
  height: 2px;
  box-shadow: 0 -4px, 0 4px;
}
.ol-layerswitcher-tidop.ol-layer-shop-tidop .layerup:after {
  content: unset;
}

.ol-control.ol-layer-shop-tidop .ol-title-bar {
  background-color: rgba(255,255,255,.5);
  font-size: .9em;
  height: calc(2.8em - 4px);
  max-width: 14.6em;
  padding: .7em .5em;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  transform: scaleY(1.1);
  transition: transform .1s, width 0s;
  transform-origin: 100% 0;
}
.ol-control.ol-layer-shop-tidop:hover .ol-title-bar {
  background-color: rgba(255,255,255,.7);
}
.ol-control.ol-layer-shop-tidop.ol-collapsed .ol-title-bar {
  max-width: 10em;
  transform: scale(.9, 1.1);
}
.ol-control.ol-layer-shop-tidop.ol-forceopen .ol-title-bar {
  max-width: 14.6em;
  transform: scaleY(1.1);
}

.ol-control.ol-layer-shop-tidop .ol-bar {
  position: relative;
  height: 1.75em;
  clear: both;
  box-shadow: 0 0 0 3px rgba(255,255,255,.5);
  background-color: #fff;
  text-align: right;
  z-index: 10;
}
.ol-control.ol-layer-shop-tidop.ol-collapsed .ol-scroll,
.ol-control.ol-layer-shop-tidop.ol-collapsed .ol-bar {
  border-width: 2px 0 0;
  display: none;
}
.ol-control.ol-layer-shop-tidop.ol-forceopen .ol-scroll,
.ol-control.ol-layer-shop-tidop.ol-forceopen .ol-bar  {
  display: block;
}
.ol-control.ol-layer-shop-tidop .ol-bar > * {
  font-size: .9em;
  display: inline-block;
  vertical-align: middle;
  margin-top: .25em;
  background-color: transparent;
}

.ol-layer-shop-tidop .ol-bar .ol-button,
.ol-touch .ol-layer-shop-tidop .ol-bar .ol-button {
  position: relative;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  margin: 0;
  display: inline-block;
}
.ol-layer-shop-tidop .ol-bar button {
  background-color: #fff;
  color: rgba(0,60,136,1)
}
.ol-layer-shop-tidop .ol-bar button:hover {
  background-color: rgba(0,60,136,.2);
}

/* Touch device */
.ol-touch .ol-layerswitcher-tidop.ol-layer-shop-tidop > button {
  font-size: 1.7em;
}
.ol-touch .ol-layer-shop-tidop .ol-bar {
  height: 2em;
}
.ol-touch .ol-layer-shop-tidop .ol-control button {
  font-size: 1.4em;
}
.ol-touch .ol-control.ol-layer-shop-tidop .panel {
  max-height: calc(100% - 7em);
}
.ol-touch .ol-control.ol-layer-shop-tidop .panel label {
  height: 1.8em;
}
.ol-touch .ol-control.ol-layer-shop-tidop .panel label span {
  margin-left: .5em;
  padding-top: .25em;
}
.ol-touch .ol-control.ol-layer-shop-tidop .panel label:before,
.ol-touch .ol-control.ol-layer-shop-tidop .panel label:after {
  font-size: 1.3em;
  z-index: 1;
}

.extra-layer-data {
  position: relative;
  left: 1.7em;
  padding-top: 0px;
  margin-top: -7px;
  margin-bottom: 5px;
  display: block;
  font-size: 0.9em;
}
.toolbar-options {
  width: 100%;
  display: inline-block;
  padding-bottom: 1em;
  text-align: center;
}
.ol-title-bar {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}
.ol-control-tidop {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  margin-right: 5px;
}
.d-none-tidop {
  display: none;
}

.preview-layer {
  display: inline-block;
  max-height: 1.1em;
}

.ol-control.ol-layer-shop-tidop .ol-bar.ol-top-bar {
  position: relative;
  height: unset !important;
  clear: both;
  box-shadow: 0 0 0 3px rgba(255,255,255,.5);
  background-color: #fff;
  text-align: right;
  z-index: 10;
}
.ol-title-bar-tidop {
  width: 100% !important;
  text-align: center;
}
.olst-options {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.olst-button-div {
  display: inline-block;
  margin: 0px 5px 8px 5px !important;
}
.no-visible {
  display: none !important;
}


.opacity-tidop {
  width: 100%;
  text-align: center;
  height: 26px;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
}
.opacity-tidop > input[type=range] {
  height: 23px;
  -webkit-appearance: none;
  margin: 0px 0 5px 0;
  width: 70%;
}
.opacity-tidop > input[type=range]:focus {
  outline: none;
}
.opacity-tidop > input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: rgba(253,201,0,.5);
  border-radius: 6px;
  border: 1px solid #000000;
}
.opacity-tidop > input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 15px;
  width: 13px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
.opacity-tidop > input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(253,201,0,.5);
}
.opacity-tidop > input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: rgba(253,201,0,.5);
  border-radius: 6px;
  border: 1px solid #000000;
}
.opacity-tidop > input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 15px;
  width: 13px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
.opacity-tidop > input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.opacity-tidop > input[type=range]::-ms-fill-lower {
  background: rgba(253,201,0,.5);
  border: 1px solid #000000;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000;
}
.opacity-tidop > input[type=range]::-ms-fill-upper {
  background: rgba(253,201,0,.5);
  border: 1px solid #000000;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000;
}
.opacity-tidop > input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 15px;
  width: 13px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
.opacity-tidop > input[type=range]:focus::-ms-fill-lower {
  background: rgba(253,201,0,.5);
}
.opacity-tidop > input[type=range]:focus::-ms-fill-upper {
  background: rgba(253,201,0,.5);
}

/* Filter */
.filter-tidop {
  position: relative;
  width: 100%;
  text-align: center;
  border: 2px solid rgba(64,37,81,.5);
  border-width: 2px 0 2px 0;
  padding: 0 !important;
  margin: 0 !important;
}
.filter-tidop > input[type=text] {
  height: 26px;
  outline: none;
  background-color:transparent;
  border: 0px solid;
  margin: 0;
  width: calc(100% - 5px);
  padding-left: 5px;
}